<div
  *ngIf="isMensajeMostrado"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Excelentes noticias!</strong> El producto se agrego correctamente.
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    (click)="eliminarMensaje()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form
  class="form-group container"
  autocomplete="off"
  [formGroup]="miFormulario"
  (ngSubmit)="agregar()"
  enctype="multipart/form-data"
>
  <div>
    <label for="nombre">Nombre</label>
    <input
      class="form-control"
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre del producto"
      formControlName="nombre"
    />
  </div>

  <div>
    <label for="nombre">Precio</label>
    <input
      class="form-control"
      type="number"
      name="precio"
      id="precio"
      formControlName="precio"
    />
  </div>

  <div>
    <label for="clasificacion">Clasificación</label>
    <select
      name="clasificacion"
      id="clasificacion"
      class="form-control"
      formControlName="clasificacion"
    >
      <option *ngFor="let clasificacion of listClasificaciones" [value]="clasificacion">
        {{ clasificacion }}
      </option>
    </select>
  </div>

  <div>
    <label for="descripcion">Descripción</label>
    <input
      class="form-control"
      type="text"
      name="descripcion"
      id="descripcion"
      placeholder="Descripción"
      formControlName="descripcion"
    />
  </div>

  <div>
    <button class="btn btn-color mt-4 w-100" type="submit">
      Agregar Producto
    </button>
    <button class="btn btn-back mt-5 w-30 slow" routerLink="/">Volver a lista de productos</button>
  </div>
</form>

