
<!--SI NO HAY PRODUCTOS EN EL CARRITO-->
<section class="h-100 h-custom"  *ngIf="cartProductos.length ==0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
  <!--          <a routerLink="/carrito" class="text-muted" (click)="preCargarProductos()"><i
              class="fas fa-plus"></i></a>-->
            <img
              src="https://i.ibb.co/Pg4WP7K/7077465.png"
              class="imgCarritoVacio">
            <h4>Tu carrito se encuentra vacio</h4>
            <div class="pb-3" >
              <h6 class="mb-0"><a href="#!" class="text-body" style="text-decoration: none"><i
                class="fas fa-long-arrow-alt-left me-2"></i>¡Agrega los productos que quieras!</a></h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--SI HAY PRODUCTOS EN EL CARRITO-->
<section class="h-100 h-custom" *ngIf="cartProductos.length != 0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Mi Carrito</h1>
                    <h6 class="mb-0 text-muted">{{ cartProductos.length }} productos</h6>
           <!--         <a routerLink="/carrito" class="text-muted" (click)="eliminarProductos()"><i
                      class="fas fa-minus"></i></a>-->
                  </div>
                  <hr class="my-4">
                  <div *ngFor="let producto of cartProductos"
                       class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img [src]="producto.img" class="img-fluid rounded-3" alt="imagen-cart">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ producto.clasificacion }}</h6>
                      <h6 class="text-black mb-0">{{ producto.nombre }}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2" *ngIf="producto.quantity > 1"
                              (click)="disminuirCantidad(producto.id)">
                        <i class="fas fa-minus"></i>
                      </button>

                <!--      <input id="form1" min="1" name="quantity" [(ngModel)]="producto.quantity" type="number"
                             class="form-control form-control-sm"/>-->
                      <input id="form1" min="1" name="quantity" value="1" type="number"
                             class="form-control form-control-sm" readonly>

                     <!-- <button class="btn btn-link px-2" (click)="incrementarCantidad(producto.id)">
                        <i class="fas fa-plus"></i>
                      </button>-->
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">$ {{ producto.precio }}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a routerLink="/carrito" class="text-muted" (click)="removeDeCarrito(producto.id)"><i
                        class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body" style="text-decoration: none"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Volver a la tienda</a></h6>
                  </div>
                </div>
              </div>
              <!--RESUMEN DE COMPRA-->
              <div class="col-lg-4 bg-grey">
                <div class="p-5"style="color:white">
                  <h3 class="fw-bold mb-5 mt-2 pt-1 text-white">RESUMEN</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase text-white">{{ cartProductos.length }} productos</h5>
                    <h5 class="text-white">$ {{ getTotalCarrito() }}</h5>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase text-white">PRECIO TOTAL</h5>
                    <h5 class="text-white">$ {{ getTotalCarrito() }}</h5>
                  </div>

                  <button type="button" class="btn btn-block btn-lg btn-primary button-confi-regis">Registrate
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
