<div class="container mt-4">
  <div class="col-lg-8 offset-lg-2">
    <div class="card animated fadeIn" style="width: 25rem; margin: 0 auto">
      <img [src]="img" class="card-img-top img-thumbnail" />
      <div class="card-body text-center">
        <h5 class="card-title">{{ nombre }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Precio: ${{ precio }}</li>
          <li class="list-group-item">Clasificacion: {{ clasificacion }}</li>
          <li class="list-group-item">Descripcion: {{ descripcion }}</li>
        </ul>
      </div>
      <div class="container">
        <div class="row mt-3 mb-3">
          <div class="col">
            <button
              class="btn btn-color slow mt-4"
              (click)="agregarAlCarrito()"
            >
              Agregar al carrito <i class="bi bi-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <button class="btn btn-back slow m-2" routerLink="/">
        Volver a lista de productos
      </button>
    </div>
  </div>
</div>
