<div class="container">
  <h2 class="text-start fs-1 my-5">Ingreso de nuevo producto</h2>

  <!-- Mensaje de exito -->
  <div *ngIf="isMensajeMostrado" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>El producto se agrego correctamente.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarMensaje()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Formulario -->
  <form [formGroup]="miFormulario" (ngSubmit)="agregar()"
        class="row container" enctype="multipart/form-data" autocomplete="off">

    <!-- Contenedor izquierdo -->
    <div class="col-6 shadow-sm rounded bg-white p-5">
      <div class="text-start">
        <label class="form-label fs-4" for="imagen">Imagen</label>
        <input formControlName="imagen" class="form-control p-3 mb-3" id="imagen" type="file"  (change)="onArchivoSeleccionado($event)">
      </div>

      <div class="text-start">
        <label class="form-label fs-4" for="nombre">Nombre</label>
        <input formControlName="nombre" id="nombre" class="form-control p-3 mb-3" type="text"
          placeholder="Nombre del producto" />
      </div>

      <div class="row mb-3">
        <div class="col-6 text-start">
          <label class="form-label fs-4" for="marca">Marca</label>
          <select formControlName="marca" id="marca" class="form-control p-3">
            <option value="">Selecciona una marca</option>
            <option *ngFor="let marca of listMarcas" [value]="marca">
              {{ marca }}
            </option>
          </select>
        </div>

        <div class="col-6 text-start">
          <label class="form-label fs-4" for="clasificacion">Clasificación</label>
          <select formControlName="clasificacion" id="clasificacion" class="form-control p-3">
            <option value="">Selecciona una categoría</option>
            <option *ngFor="let clasificacion of listClasificaciones" [value]="clasificacion">
              {{ clasificacion }}
            </option>
          </select>
        </div>
      </div>

      <div class="text-start mb-3">
        <label class="form-label fs-4" for="precio">Precio</label>
        <input formControlName="precio" id="precio" class="form-control p-3" type="number"/>
      </div>
    </div>

    <!-- Contenedor derecho -->
    <div class="col-6 px-5">
      <div class="text-start">
        <label class="form-label fs-4 d-none" for="descripcion">Descripción detallada</label>
        <textarea formControlName="descripcion" id="descripcion" class="form-control p-3"
                  placeholder="Descripción detallada del producto"></textarea>
      </div>
    </div>

    <div>
      <button class="btn btn-color p-3 mt-5 w-25" type="submit">Agregar Producto</button>
    </div>
  </form>
</div>
