.detail-container{
  padding: 3rem 0rem 5rem 0rem;
}

.price{
  color: #3541e9;
  border: 1px solid #3541e9;
}

.icons{
  color: #4caf50;
}

.btn-now{
  color: #3541e9;
  background-color: #d2d4f5;
}

.btn-now:hover{
  border: 1px solid #3541e9;
}

.btn-add{
  color: #ffffff;
  background-color: #3541e9;
}

.mensajeDeAgregado{
  margin-top: 10px;
}

.right, .left{
  height: 625px;
}