<div class="container-fluid mt-5">
  <div class="d-flex justify-content-center">

    <!-- Contenedor -->
    <div class="shadow rounded p-5 bg-white">
      <div class="text-center">
        <h2>Registrarse</h2>
      </div>

      <!-- Formulario -->
      <div class="p-4">
        <form [formGroup]="singupForm" (ngSubmit)="onSubmit()">
          <div class="row mb-4">

            <!-- Campo nombre -->
            <div class="col-md-6">
              <label class="form-label d-none" for="firstName"></label>
              <input type="text" class="form-control p-3" id="firstName" placeholder="Nombre"
                     formControlName="firstName" [ngClass]="{'is-invalid': f.firstName.invalid && f.firstName.touched}">
              <!-- Mensaje error -->       
              <div *ngIf="f.firstName.invalid && f.firstName.touched">
                <p class="text-danger text-start ps-1 mt-2 mb-0">El nombre es requerido</p>
              </div>
            </div>

            <!-- Campo apellido -->
            <div class="col-md-6">
              <label class="form-label d-none" for="lastName"></label>
              <input type="text" class="form-control p-3" id="lastName" placeholder="Apellido"
                     formControlName="lastName" [ngClass]="{'is-invalid': f.lastName.invalid && f.lastName.touched}">
              <!-- Mensaje error -->   
              <div *ngIf="f.lastName.invalid && f.lastName.touched">
                <p class="text-danger text-start ps-1 mt-2 mb-0">El Apellido es requerido</p>
              </div>
            </div>
          </div>

          <!-- Campo direccion -->
          <div class="mb-4">
            <label class="form-label d-none" for="address"></label>
            <input type="email" class="form-control p-3" id="address" placeholder="Dirección"
                   formControlName="address" [ngClass]="{'is-invalid': f.address.invalid && f.address.touched}">
            <!-- Mensaje error -->          
            <div *ngIf="f.address.invalid && f.address.touched">
              <p class="text-danger text-start ps-1 mt-2 mb-0">La dirección es requerida</p>
            </div>                   
          </div>

          <!-- Campo email -->
          <div class="mb-4">
            <label class="form-label d-none" for="email"></label>
            <input type="email" class="form-control p-3" id="email" placeholder="Email"
                   formControlName="email" [ngClass]="{'is-invalid': f.email.invalid && f.email.touched}">
            <!-- Mensajes de error -->   
            <div *ngIf="f.email.invalid && f.email.touched" class="text-danger text-start">
              <div *ngIf="f.email.errors?.['required']"><p class="ps-1 mt-2 mb-0">El email es requerido</p></div>
              <div *ngIf="f.email.errors?.['email']"><p class="ps-1 mt-2 mb-0">El formato ingresado no es valido</p></div>
              <div *ngIf="f.email.errors?.['emailNotExist']"><p class="ps-1 mt-2 mb-0">El email ingresado no existe</p></div>
              <div *ngIf="f.email.errors?.['emailRegistered']"><p class="ps-1 mt-2 mb-0">El email ingresado ya esta registrado en otra cuenta</p></div>
            </div>
          </div>
          
          <div class="row mb-4">
            <!-- Campo contraseña -->
            <div class="col-md-6 form-group">
              <label class="form-label d-none" for="password"></label>
              <div class="position-relative">
                <!-- Directiva para mostrar la contraseña -->
                <input [type]="showPassword ? 'text' : 'password'" class="form-control p-3" id="password" 
                       [ngClass]="{'border-danger': f.password.invalid && f.password.touched}"
                       formControlName="password" placeholder="Contraseña">

                <i class="position-absolute top-50 translate-middle-y" style="right: 15px" 
                   [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'" 
                   (click)="passwordVisibility('password')"></i>
              </div>
              <!-- Mensajes de error -->       
              <div *ngIf="f.password.invalid && f.password.touched" class="text-danger text-start">
                <div *ngIf="f.password.errors?.['required']"><p class="ps-1 mt-2 mb-0">El campo es requerido</p></div>
                <div *ngIf="f.password.errors?.['invalidFormat']">
                  <!-- Listado de requisitos para contraseña -->
                  <p class="mt-2 mb-0">La contraseña debe tener :</p>  
                  <ul class="ps-3 mb-0">
                    <li *ngIf="f.password.errors?.['quantity']"><p class="mt-1 mb-0">Mínimo 13 caracteres</p></li>
                    <li *ngIf="f.password.errors?.['uppercase']"><p class="mt-1 mb-0">Una mayúscula</p></li>
                    <li *ngIf="f.password.errors?.['lowercase']"><p class="mt-1 mb-0">Una minúscula</p></li>
                    <li *ngIf="f.password.errors?.['digit']"><p class="mt-1 mb-0">Un dígito</p></li>
                    <li *ngIf="f.password.errors?.['specialChar']"><p class="mt-1 mb-0">Un carácter especial</p></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Campo confirmar contraseña -->
            <div class="col-md-6 form-group">
              <label class="form-label d-none" for="confirmPassword"></label>
              <div class="position-relative">
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control p-3" id="confirmPassword" 
                       [ngClass]="{'border-danger': f.confirmPassword.invalid && f.confirmPassword.touched}"
                       formControlName="confirmPassword" placeholder="Repetir contraseña">
                
                <i class="position-absolute top-50 translate-middle-y" style="right: 15px" 
                   [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'" 
                   (click)="passwordVisibility('confirmPassword')"></i>
              </div>
              <!-- Mensaje error -->       
              <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched" class="text-danger text-start">
                <div *ngIf="f.confirmPassword.errors?.['required']"><p class="ps-1 mt-2 mb-0">El campo es requerido</p></div>
                <div *ngIf="f.confirmPassword.errors?.['NoPasswordMatch']"><p class="ps-1 mt-2 mb-0">Las contraseñas no coinciden</p></div>
              </div>
            </div>
          </div>
          
          <button type="submit"  class="btn fw-bold text-light sing-up rounded p-3 w-100"
                  [disabled]="singupForm.invalid && singupForm.touched">Registrarme</button>
        </form>
      </div>
      <!-- Fin formulario -->

      <span>Ya tenes una cuenta? <a class="fw-bold" routerLink="/singIn">Inicia sesión</a></span>
    </div>
    <!-- Fin contenedor -->

  </div>
</div>          
