
        <div class="col ">
          <div class="card shadow-sm zoom">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
              <title>Producto</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
            </svg>
            <div class="card-body ">
              <p class="card-text">{{nombre}}<small class="text-muted">${{precio}}</small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mx-auto">
                  <button type="button" class="btn btn-detalle" (click)="verDetalleProducto()">Ver detalles</button>
                </div>
              </div>
            </div>
          </div>
        </div>



