<div class="container rounded shadow bg-white w-25 mt-5 px-0">
  <div class="text-black p-5">
    <div class="d-flex justify-content-center align-items-center">
      <form>
        <div class="mb-4">
          <label class="form-label fs-4 fw-bold" for="user">Usuario</label>
          <input type="text" id="user" class="form-control"/>
        </div>

        <div class="mb-4">
          <label class="form-label fs-4 fw-bold" for="password">Contraseña</label>
          <input type="password" id="password" class="form-control"/>
          <p class="fw-bold my-3" style="color: #92bbff"><a class="opacity-75">¿Olvidaste tu contraseña?</a></p>
        </div>

        <div class="pt-1 mb-2 text-center">
          <button class="btn fw-bold text-light px-4 sing-in rounded" type="submit">Iniciar sesión</button>
        </div>
      </form>
    </div>

    <hr>

    <span>No tienes una cuenta? <a class="fw-bold" routerLink="/singUp" style="color: #3630EA">Registrate aqui</a></span>
  </div>
</div>
