.sing-in{
    border: 2px solid #3630EA!important;
    background-color: #3630EA!important;
    transition: 0.5s;
}

.sing-in:hover{
    background-color: white!important;
    color: #3630EA!important;
    transform: scale(1.1);
}