<div class="container rounded shadow bg-white w-25 my-5 px-0">
  <div class="text-black p-5">
    <div class="text-center">
      <h2>Iniciar sesión</h2>
    </div>

    <div class="py-4 px-5">
      <form>
        <div class="mb-4">
          <label class="form-label fs-4 fw-bold d-none" for="user">Email</label>
          <input type="text" class="form-control p-3" id="user" placeholder="Email"/>
        </div>

        <div class="mb-4">
          <label class="form-label fs-4 fw-bold d-none" for="password">Contraseña</label>
          <input type="password" class="form-control p-3" id="password" placeholder="Contraseña"/>
          <p class="fw-bold my-3" style="color: #92bbff"><a class="opacity-75">¿Olvidaste tu contraseña?</a></p>
        </div>

        <div class="pt-1 mb-2 text-center">
          <button class="btn fw-bold text-light p-3 sing-in rounded w-100" type="submit">Ingresar</button>
        </div>
      </form>
    </div>

    <hr>
    <span>No tienes una cuenta? <a class="fw-bold" routerLink="/singUp" style="color: #3630EA">Registrate aqui</a></span>
  </div>
</div>
