
/*CSS DEL FOOTER*/

footer {
  background-color: black;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social i {
  color: #f6f5f3;

}

.redes-footer {
  color: #f6f5f3;
  text-align: center;
}
