<!-- FOOTER DE LA PAGINA-->
<footer class="footer">
  <div class="container py-2">
    <h4 class="redes-footer mx-2">Redes Sociales</h4>
    <div class="social">
      <div class="item mx-2">
        <a href="https://www.facebook.com/" target="_blank"> <i
          class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="item mx-2">
        <a href="https://www.instagram.com/" target="_blank"> <i
          class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="item mx-2">
        <a href="https://www.twitter.com/" target="_blank"> <i
          class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
      </div>

    </div>
    <br>
    <p>2023 Copyrigth</p>
  </div>


</footer>

