<!-- FOOTER DE LA PAGINA-->
<footer class="text-center text-lg-start bg-light text-muted mt-5">

  <div class="pt-1">
    <div class="container text-center text-md-start mt-5">
      <!-- Row -->
      <div class="row mt-3">

        <!-- Columna 1 -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Contenido -->
          <h6 class="text-uppercase fw-bold mb-4">
            TiendaOnline
          </h6>
          <p class="text-start">
          Descubre una amplia selección de productos de calidad, con envío rápido y seguro. 
          Compra con confianza y comodidad desde la comodidad de tu hogar.
          </p>
        </div>

        <!-- Columna 2 -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Enlaces -->
          <h6 class="text-uppercase fw-bold mb-4">Información</h6>
          <p class=" text-start">
            <a href="#!" class="nav-link">Terminos y condiciones</a>
          </p>
          <p class=" text-start">
            <a href="#!" class="nav-link">Politicas de privacidad</a>
          </p>
        </div>

        <!-- Columna 3 -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Enlaces -->
          <h6 class="text-uppercase fw-bold mb-4">Enlaces</h6>
          <p class=" text-start">
            <a class="nav-link" routerLink="/singIn">Iniciar sesion</a>
          </p>
          <p class=" text-start">
            <a class="nav-link" routerLink="/singUp">Registrarse</a>
          </p>
          <p class=" text-start">
            <a href="#!" class="nav-link">Agregar producto</a>
          </p>
        </div>

        <!-- Columna 4 -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Enlaces -->
          <h6 class="text-uppercase fw-bold mb-4">Soporte</h6>
          <p class=" text-start">
            <i class="fas fa-envelope me-3"></i>
            ayuda@tiendaOnline.com.ar
          </p>
          <p class=" text-start">
            <i class="fas fa-envelope me-3"></i>
            reclamos@tiendaOnline.com.ar
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center py-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="mb-0">© 2023 Copyright: <a class="nav-link fw-bold d-inline" href="">TiendaOnline.com.ar</a></p>
  </div>
</footer>

