.price{
  font-family: sans-serif;
  color: #445EF2;
}

.card-product{
  transition: 0.5s;
}

.card-product:hover{
  cursor: pointer;
  border: 1px solid #445EF2;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.372)!important;
}
