<!-- CARRITO TABLAS PARA LOS PRODUCTOS-->
<div class="container shadow p-3 mb-5 bg-body rounded my-5">
  <div class="resumenCompra mx-5">
    <p class="tituloDeTabla"><em><strong>RESUMEN DE COMPRA</strong></em><span  style="font-family: Bahnschrift"> (3 productos)</span></p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th><strong>Producto</strong></th>
        <th><strong>Cantidad</strong></th>
        <th><strong>Precio</strong></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="cart-info">
        <td>
          <div class="cart-img">
            <a href=""> <img src="https://http2.mlstatic.com/D_NQ_NP_795136-MLA43404237050_092020-V.jpg"></a>
            <div>
              <a href=""><p class="h5">Gallo de juguete</p></a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td><p class="h5">$100.000</p></td>
        <td><a href=""><i class="fa-solid fa-x"></i></a></td>
      </tr>
      <tr class="cart-info">
        <td>
          <div class="cart-img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjRl0mbQKsYNR4Gkpxj82PEbajV_ZGmMbGt5Lmkc4cNYtsAg0i_jgJEpw9CfoudTjV_YU&usqp=CAU">
            <div>
              <a href=""><p class="h5">Funko Frank Zappa</p></a>
            </div>
          </div>

        </td>
        <td><input type="number" value="1"></td>
        <td><p class="h5">$50.000</p></td>
        <td><a href=""><i class="fa-solid fa-x"></i></a>

      </tr>
      <tr class="cart-info">
        <td>
          <div class="cart-img">
            <img
              src="https://media.revistagq.com/photos/6320d611504ebd882c04f41b/master/w_1600%2Cc_limit/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-deep-purple-220907-geo.jpg">
            <div>
              <a href=""><p class="h5">Iphone version Salada</p></a>
            </div>
          </div>

        </td>
        <td><input type="number" value="1"></td>
        <td><p class="h5">$100</p></td>
        <td><a href=""><i class="fa-solid fa-x"></i></a>
      </tr>
      </tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr class="cart-info">
        <td></td>
        <td></td>
        <td><p class="h4">Total a pagar: $150.100</p></td>
        <td></td>

      </tr>

    </table>
  </div>
  <div class="boton-carrito-comprar mx-5">
    <button type="button" class="btn btn-primary">Continuar Compra</button>
  </div>
</div>


