/* You can add global styles to this file, and also import other style files */
body{
  background-color: #ebebeb;
  font-family:Bahnschrift;
  position: relative;
  padding-bottom: 22rem;
  min-height: 100vh;
}
