<div class="container-fluid rounded mt-5">
  <div class="d-flex justify-content-center rounded">
    <div class="col-md-4 shadow p-5 bg-white">

      <div class="text-center">
        <h3>Registrarse</h3>
      </div>

      <div class="p-4">
        <form action="">
          <div class="row">
            <div class="col-md-6 mb-4 text-start mb-3">
              <label class="form-label fs-4 fw-bold d-none" for="firstName"></label>
              <input type="text" class="form-control" id="firstName" placeholder="Nombre">
            </div>
            <div class="col-md-6 mb-4 text-start mb-3">
              <label class="form-label fs-4 fw-bold d-none" for="lastName"></label>
              <input type="text" class="form-control" id="lastName" placeholder="Apellido">
            </div>
          </div>

          <div class="mb-4 text-start">
            <label class="form-label fs-4 fw-bold d-none" for="address"></label>
            <input type="email" class="form-control" id="address" placeholder="Dirección">
          </div>

          <div class="mb-4 text-start">
            <label class="form-label fs-4 fw-bold d-none" for="email"></label>
            <input type="email" class="form-control" placeholder="Email">
          </div>

          <div class="row">
            <div class="col-md-6 mb-4 text-start mb-3">
              <label class="form-label fs-4 fw-bold d-none" for="password"></label>
              <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="col-md-6 mb-4 text-start mb-3">
              <label class="form-label fs-4 fw-bold d-none" for="verifypassword"></label>
              <input type="verifypassword" class="form-control" placeholder="Repetir contraseña">
            </div>
          </div>

          <button class="btn fw-bold text-light sing-up rounded w-100" type="submit">Registrarme</button>
        
        </form>
     </div>

     <span>Ya tenes una cuenta? <a class="fw-bold" routerLink="/singIn">Inicia sesión</a></span>
   </div>
 </div>
</div>          
