.card-brand{
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.card-brand .card-body{
    height: 120px;
}

.card-brand p{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-brand:hover{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.17);
}